body {
    background-image: url("../Gif-Fondo.gif");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-attachment: fixed;
     background-size: cover;
  }
h1{
    background-color: #d5daf189;
    text-align: center;
    font-size: 70px;
}
h1 {
    margin-top: 2cm;
    margin-left: 9.5cm;
    margin-right: 9.5cm;
}
h2 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}
section {
  background-color: rgba(255, 255, 255, 0.349);
    text-align: center;
    margin-left: 2cm;
    margin-top: 2cm;
    margin-right: 2cm;
    font-size: 20px;
}
.navbar {
  overflow: hidden;
  background-color: #120635;
  top: 0;
  width: 100%;
  border-radius: 25px;
}

.navbar a {
  display: inline-block;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
  width: 30.89%;
  border-radius: 25px;
}
.navbar a:hover {
  background: #729ed49c;
  color: #130737;
  ;
}

.bar {
  text-align: center;
  margin-left: -.75cm;
  margin-right: -.75cm;
  padding: 20px;
  background-color: #3a47d839;
  color: white;
  font-family: "Times new Roman", Times, serif;
}
footer {
  margin: 2cm;
 text-align: center;
 color: #ffffff;
}
.foto {
  width: 12.8cm;
  height: 10cm;
}
