table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 15px;
  }
  th {
    background-color: #110e4295;
    color: white;
    font-size: 30px;
  }
  td {
     background-color: #c3d6ffb9; 
     text-align: center;
    }
  
  table {
    width:790px;
    height:90px;
  }
  body {
    text-align: center;
    background-image: linear-gradient(#ffffff00,rgb(9, 28, 119));
  }
  #foto1 {
    width: 200px;
  }
