body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/64c54bb8774661536ac896b1/836a2148-009e-4baf-9deb-0bab32f27ac1/floral-background+-+opacity+50%25.jpg");
    background-attachment: scroll;
    background-repeat: repeat;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
  }
  td {
    background-color: #ffd8e0;
  }
  th {
     background-color: #ffbdc1; 
    }
  a {
    color: #a5465c;
  }
  table {
    width: 650px;
    height: 90px;
  }
  ul {
    list-style-type: circle
  }
  img {
    border: 5px solid #ffe4ff;
  }
  .header {
    background-color: #ffbdc1; 
    font-size:60px;
    text-align: center;
  }
  #lana { 
    width:300px; 
    height:300px
  }
  #nuria {
    text-align: center;
  }
  #flor { 
    width:500px; 
    height:300px
  }
  .footer { 
    font-size: 20px;
    font-family: "Times new Roman", Times, serif;
  }

  svg:hover { 
    fill: #50c6db;
    transform: scale(1.25); 
    transition-duration: 1.5s;
  }
  svg {
    float: right;
  }
#figura {
    stroke: #a5465c;
    stroke-width: 3px;
    fill: #a5465c;
    fill-rule:nonzero;
    animation: walk 4s infinite ease-out;
}
@keyframes walk {
    0% {
        transform: translateX(0);
    }
    0.01% {
        transform: translateX(500px);
    }
    10% {
        transform: translateX(-80px);
    }
    25% {
        transform: rotate(-25deg);
    }
    45% {
        transform: rotateX(50deg);
    }

    75% {
        transform: translateX(-530px);
    }


    100% {
        transform: translateX(520px);
    }
}
#yo {
    width: 20%;
}
  
