body {
    background-image: url("https://pbs.twimg.com/media/DuFcT-pX4AAtf26.jpg");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    margin: 3cm;
  }
h1{
    background-color: #d5daf189;
    text-align: left;
    font-size: 70px;
    margin-right: -3cm;
    margin-left: -3cm;
    margin-top: -1cm;
}
h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    margin-left: -3cm;
}

h4 {
    text-align: center;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

hr {
margin-left: -3cm;
margin-right: -3cm;
}

section {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 16cm;
  margin-bottom: 2cm;
}

ul {
  list-style-type: circle
}

#menu2 {
  width: 390px;
  border-style: solid;
  border-width: medium;
  border-color: #ffffff;
  padding: 50px;
  float: left;
  margin-left: -16cm;
  text-align: left;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

#tit {
  text-align: left;
  margin-left:-16cm;
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link {
color:#ffffff
}

a:hover {
color:rgb(89, 51, 243)
}

a:visited {
color:#b01fe0
}

.degradado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.579),rgba(12, 12, 80, 0.459),rgba(73, 5, 73, 0.596));
}

.navbar {
  overflow: hidden;
  background-color: #120635;
  top: 0;
  width: 100%;
  border-radius: 25px;
}

.navbar a {
  display: inline-block;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
  width: calc(100%/3.5);
  border-radius: 25px;
}
.navbar a:hover {
  background: #729ed49c;
  color: #130737;
}

.bar {
  text-align: center;
  margin-left: -2.75cm;
  margin-right: -2.75cm;
  padding: 20px;
  background-color: #3a47d839;
  color: white;
  font-family: "Times new Roman", Times, serif;
}
.p {
  color: white;
  font-size: 20px;
  }
#acreditación{
    color: #dadadb6b;
    text-align: center;
}
audio{
    padding: 35%;
    margin-top: -32%;
    margin-bottom: -33%;
    width: 30%;
    height: 40px;
    border-radius: 25%;
}
