h1{
    background-color: #d5daf189;
    text-align: left;
    font-size: 70px;
    margin-right: 26cm;
    margin-top: 2cm;
}
body{
    background-image: url("https://pbs.twimg.com/media/DuFcT-pX4AAtf26.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
     background-size: cover;
}
h2{
    color:#ffffff;
    margin-left: 3cm;
}
p{
    color:#ffffff;
    margin-left: 3cm;
}
h4{
    text-align: center;
}
table,th,td{
    color:#ffffff;
    border: 2px solid white;
    width:50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a:link{
    color: #ffffff
  }
  a:visited{
    color:#e4ebc9
  }
  a:hover{
    color: #c7b9ad
  }
  .navbar {
    overflow: hidden;
    background-color: #120635;
    top: 0;
    width: 100%;
    border-radius: 25px;
  }
  
  .navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px;
    margin: 0px;
    text-decoration: none;
    font-size: 17px;
    width: calc(100%/3.5);
    border-radius: 25px;
  }
  .navbar a:hover {
    background: #729ed49c;
    color: #130737;
    ;
  }
  
  .bar {
    text-align: center;
    margin-left: -2.75cm;
    margin-right: -2.75cm;
    padding: 20px;
    background-color: #3a47d839;
    color: white;
    font-family: "Times new Roman", Times, serif;
  }
#acreditación{
    color: #dadadb6b;
    text-align: center;
}
audio{
    padding: 35%;
    margin-top: -32%;
    margin-bottom: -33%;
    width: 30%;
    height: 40px;
    border-radius: 25%;
}
